/* line 1, H:/Poem/main.scss */
html {
  height: 100%;
  width: 100%;
  font-family: Lato;
  font-weight: 700; }

/* line 8, H:/Poem/main.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: lightgray; }

/* line 16, H:/Poem/main.scss */
.blue {
  width: 100%;
  height: 100%;
  background-color: rgba(106, 167, 199, 0.33);
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: color-burn; }

/* line 26, H:/Poem/main.scss */
.svg-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

/* line 33, H:/Poem/main.scss */
svg {
  height: 100%; }

/* line 36, H:/Poem/main.scss */
.poem-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center; }

/* line 44, H:/Poem/main.scss */
.poem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* line 50, H:/Poem/main.scss */
.poem p {
  padding: 0;
  margin: 0; }

/* line 54, H:/Poem/main.scss */
.right {
  align-self: flex-end; }

/* line 57, H:/Poem/main.scss */
#shape1 {
  animation: fade 60s ease infinite; }

/* line 61, H:/Poem/main.scss */
#shape2 {
  animation: fade 60s ease 1s infinite; }

/* line 65, H:/Poem/main.scss */
#shape3 {
  animation: fade 60s ease 2s infinite; }

/* line 69, H:/Poem/main.scss */
#shape4 {
  animation: fade 60s ease 3s infinite; }

/* line 73, H:/Poem/main.scss */
#shape5 {
  animation: fade 60s ease 4s infinite; }

/* line 77, H:/Poem/main.scss */
#shape6 {
  animation: fade 60s ease 5s infinite; }

/* line 81, H:/Poem/main.scss */
#shape7 {
  animation: fade 60s ease 6s infinite; }

/* line 85, H:/Poem/main.scss */
#shape8 {
  animation: fade 60s ease 7s infinite; }

/* line 89, H:/Poem/main.scss */
#shape9 {
  animation: fade 60s ease 8s infinite; }

/* line 93, H:/Poem/main.scss */
#shape10 {
  animation: fade 60s ease 9s infinite; }

/* line 97, H:/Poem/main.scss */
#shape11 {
  animation: fade 60s ease 10s infinite; }

/* line 101, H:/Poem/main.scss */
#shape12 {
  animation: fade 60s ease 11s infinite; }

/* line 105, H:/Poem/main.scss */
#shape13 {
  animation: fade 60s ease 12s infinite; }

/* line 109, H:/Poem/main.scss */
#shape14 {
  animation: fade 60s ease 13s infinite; }

/* line 113, H:/Poem/main.scss */
#shape15 {
  animation: fade 60s ease 14s infinite; }

/* line 117, H:/Poem/main.scss */
#shape16 {
  animation: fade 60s ease 15s infinite; }

/* line 121, H:/Poem/main.scss */
#shape17 {
  animation: fade 60s ease 16s infinite; }

/* line 125, H:/Poem/main.scss */
#shape18 {
  animation: fade 60s ease 17s infinite; }

/* line 129, H:/Poem/main.scss */
#shape19 {
  animation: fade 60s ease 18s infinite; }

/* line 133, H:/Poem/main.scss */
#shape20 {
  animation: fade 60s ease 19s infinite; }

/* line 137, H:/Poem/main.scss */
#shape21 {
  animation: fade 60s ease 20s infinite; }

/* line 141, H:/Poem/main.scss */
#shape22 {
  animation: fade 60s ease 21s infinite; }

/* line 145, H:/Poem/main.scss */
#shape23 {
  animation: fade 60s ease 22s infinite; }

/* line 149, H:/Poem/main.scss */
#shape24 {
  animation: fade 60s ease 23s infinite; }

/* line 152, H:/Poem/main.scss */
#line1 {
  animation: color 60s ease infinite; }

/* line 156, H:/Poem/main.scss */
#line2 {
  animation: color 60s ease 1s infinite; }

/* line 160, H:/Poem/main.scss */
#line3 {
  animation: color 60s ease 2s infinite; }

/* line 164, H:/Poem/main.scss */
#line4 {
  animation: color 60s ease 3s infinite; }

/* line 168, H:/Poem/main.scss */
#line5 {
  animation: color 60s ease 4s infinite; }

/* line 172, H:/Poem/main.scss */
#line6 {
  animation: color 60s ease 5s infinite; }

/* line 176, H:/Poem/main.scss */
#line7 {
  animation: color 60s ease 6s infinite; }

/* line 180, H:/Poem/main.scss */
#line8 {
  animation: color 60s ease 7s infinite; }

/* line 184, H:/Poem/main.scss */
#line9 {
  animation: color 60s ease 8s infinite; }

/* line 188, H:/Poem/main.scss */
#line10 {
  animation: color 60s ease 9s infinite; }

/* line 192, H:/Poem/main.scss */
#line11 {
  animation: color 60s ease 10s infinite; }

/* line 196, H:/Poem/main.scss */
#line12 {
  animation: color 60s ease 11s infinite; }

/* line 200, H:/Poem/main.scss */
#line13 {
  animation: color 60s ease 12s infinite; }

/* line 204, H:/Poem/main.scss */
#line14 {
  animation: color 60s ease 13s infinite; }

/* line 208, H:/Poem/main.scss */
#line15 {
  animation: color 60s ease 14s infinite; }

/* line 212, H:/Poem/main.scss */
#line16 {
  animation: color 60s ease 15s infinite; }

/* line 216, H:/Poem/main.scss */
#line17 {
  animation: color 60s ease 16s infinite; }

/* line 220, H:/Poem/main.scss */
#line18 {
  animation: color 60s ease 17s infinite; }

/* line 224, H:/Poem/main.scss */
#line19 {
  animation: color 60s ease 18s infinite; }

@keyframes fade {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes color {
  50% {
    color: white; }
  100% {
    color: black; } }

@media (max-width: 600px) {
  /* line 245, H:/Poem/main.scss */
  .svg-wrapper {
    height: 100%;
    width: 100%; }
  /* line 249, H:/Poem/main.scss */
  svg {
    height: 100%;
    width: 100%; } }

@media (orientation: landscape) and (max-height: 600px) {
  /* line 255, H:/Poem/main.scss */
  .svg-wrapper {
    height: 100%;
    width: 100%; }
  /* line 259, H:/Poem/main.scss */
  svg {
    height: 100%;
    width: 100%; } }

/*# sourceMappingURL=main.css.map */