html {
    height: 100%;
    width: 100%;
    font-family: Lato;
    font-weight: 700;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: lightgray;
}

.blue {
    width: 100%;
    height: 100%;
    background-color: rgba(106, 167, 199, 0.33);
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: color-burn;
}

.svg-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

svg {
    height: 100%;
}
.poem-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
}
.poem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.poem p {
    padding: 0;
    margin: 0;
}
.right {
    align-self: flex-end;
}
#shape1 {
    animation: fade 60s ease infinite;
}

#shape2 {
    animation: fade 60s ease 1s infinite;
}

#shape3 {
    animation: fade 60s ease 2s infinite;
}

#shape4 {
    animation: fade 60s ease 3s infinite;
}

#shape5 {
    animation: fade 60s ease 4s infinite;
}

#shape6 {
    animation: fade 60s ease 5s infinite;
}

#shape7 {
    animation: fade 60s ease 6s infinite;
}

#shape8 {
    animation: fade 60s ease 7s infinite;
}

#shape9 {
    animation: fade 60s ease 8s infinite;
}

#shape10 {
    animation: fade 60s ease 9s infinite;
}

#shape11 {
    animation: fade 60s ease 10s infinite;
}

#shape12 {
    animation: fade 60s ease 11s infinite;
}

#shape13 {
    animation: fade 60s ease 12s infinite;
}

#shape14 {
    animation: fade 60s ease 13s infinite;
}

#shape15 {
    animation: fade 60s ease 14s infinite;
}

#shape16 {
    animation: fade 60s ease 15s infinite;
}

#shape17 {
    animation: fade 60s ease 16s infinite;
}

#shape18 {
    animation: fade 60s ease 17s infinite;
}

#shape19 {
    animation: fade 60s ease 18s infinite;
}

#shape20 {
    animation: fade 60s ease 19s infinite;
}

#shape21 {
    animation: fade 60s ease 20s infinite;
}

#shape22 {
    animation: fade 60s ease 21s infinite;
}

#shape23 {
    animation: fade 60s ease 22s infinite;
}

#shape24 {
    animation: fade 60s ease 23s infinite;
}
#line1 {
    animation: color 60s ease infinite;
}

#line2 {
    animation: color 60s ease 1s infinite;
}

#line3 {
    animation: color 60s ease 2s infinite;
}

#line4 {
    animation: color 60s ease 3s infinite;
}

#line5 {
    animation: color 60s ease 4s infinite;
}

#line6 {
    animation: color 60s ease 5s infinite;
}

#line7 {
    animation: color 60s ease 6s infinite;
}

#line8 {
    animation: color 60s ease 7s infinite;
}

#line9 {
    animation: color 60s ease 8s infinite;
}

#line10 {
    animation: color 60s ease 9s infinite;
}

#line11 {
    animation: color 60s ease 10s infinite;
}

#line12 {
    animation: color 60s ease 11s infinite;
}

#line13 {
    animation: color 60s ease 12s infinite;
}

#line14 {
    animation: color 60s ease 13s infinite;
}

#line15 {
    animation: color 60s ease 14s infinite;
}

#line16 {
    animation: color 60s ease 15s infinite;
}

#line17 {
    animation: color 60s ease 16s infinite;
}

#line18 {
    animation: color 60s ease 17s infinite;
}

#line19 {
    animation: color 60s ease 18s infinite;
}
@keyframes fade {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes color {
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

@media (max-width: 600px) {
svg {
    height:100%;
    width:100%;
    }
}